<ul><%@flats.each do |flat|%>
  <li style="list-style: none">
      <% if flat.photo.attached? %> 
        <%= cl_image_tag flat.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face %> 
        <%= link_to flat.title, flat_path(flat) %>
      <% else %> 
        <%= "You can upload a picture"%> 
      <% end %>

    </div>
    </li>
  </ul>
<%end%>
<%=link_to "Add new flat", new_flat_path%>
