<div class="container">
<h1 class="title-offers">All the available offers</h1>
  <div class="grid-container">
    <%@flats.each do |flat|%>
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2><%= flat.title %></h2>
            <p><%= flat.description %></p>
          </div>
          <h2 class="card-trip-pricing"><%= flat.price %> €</h2>
        </div>
        <div class="button-offer">
          <p>Check offer</p>
        </div>
      </div>
    <%end%>
    
    <%=link_to "Add new flat", new_flat_path%>


  </div>
</div>
