<div class="footer">
  <div class="box">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
  </div>

  <div class="box">
    <div class="footer-logo">
      <img src="https://imagizer.imageshack.com/img922/2089/6PYv26.png">
    </div>
  </div>

  <div class="box">
    <div class="footer-copyright">
      Helping young and old people <i class="fas fa-home"></i>
    </div>
  </div>
</div>
