.title-offers {
  text-align: center;
  padding-top: 15px;
  border-bottom: 1px solid #cdccd0;
  padding-bottom: 5px;
  width: 800px;
  margin: 0 auto;
}

.title-new-listings {
  padding-top: 15px;
  border-bottom: 1px solid #cdccd0;
  padding-bottom: 5px;
  width: 800px;
}

@media (max-width: 700px) {
  .title-offers {
    width: 400px;
  }
}

.h4-booking {
  position: relative;
  margin-bottom: 10px;
}

.h4-booking:before {
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 2px;
  width: 45%;
  border-bottom: 0.5px solid #cdccd0;
}